/* CSS STYLESHEET: CALCULATOR */

body {
    background-color: antiquewhite;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    border: 5px solid Black;
    width: 300px;
    align-items: center;
    border-radius: 5px;
}

#displayContainer {
    display: flex;
    align-items: end;
    height: 55px;
}

#displayField {
    margin: 0;
    width: 295px;
    /* max-height: 37px; */
    text-align: right;
    font-size: 47px;
    font-family: Arial;
}

.button,
.number-button {
    padding: 12px 12px;
    font-size: 20px;
    min-width: 70px;
    margin: 1px;
    background-color: steelblue;
    border-radius: 3px;
    border: 1px solid black;
}

.button:active,
.number-button:active {
    background-color: burlywood;
}

.operator {
   color: darkred; 
}



