/* CSS STYLESHEET: CALCULATOR */

/* body {

} */

.mainContainer {
    display: flex;
    flex-direction: column;
    border: 3px solid Black;
    width: 300px;
    align-items: center;
}

#displayField {
    margin: 5px;
    padding: 10px;
    min-width: 272px;
}

.button,
.number-button {
    padding: 5px 15px;
    font-size: 20px;
    min-width: 70px;
    margin: 1px;
    background-color: cadetblue;
    border-radius: 3px;
    border: 1px solid black;
}

.button:active,
.number-button:active {
    background-color: burlywood;
}

#equal {
    padding: 5px 66px;
}



